.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #bbbbbb;
    padding: .5rem 1rem;
    align-items: center;
    margin-bottom: 0.5rem;
}

.item img {
    width: 3rem;
    height: 3rem;
}

.item span:last-child {
    font-size: 1.5rem;
    cursor: pointer;
    color: #b8b7b7;
    text-align: end;
}

.item span:nth-child(1n) {
    width: 20%;
}

.item span:last-child {
    font-size: 1.5rem;
    cursor: pointer;
    color: #b8b7b7;
}

.item .favourite .active {
    color: #ffee00;
}