.headerWrapper {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.toggleView {
  display: flex;
}

.toggleView a {
  display: flex;
  width: 6.5rem;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #bbbbbb;
  border: 1px solid #bbbbbb;
  height: 5rem;
}

.toggleView a.active {
  background-color: #bbbbbb;
  color: #fff;
}

.preview li {
  display: block;
}

.sorting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.translation .btn, .sorting button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 6.5rem;
  height: 2rem;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #bbbbbb;
  cursor: pointer;
  outline: none;
}

.sorting .active {
  background-color: #bbbbbb;
  color: #fff;
}

.sortDirection button {
  width: calc(9.75rem + 1px);
  border: 1px solid #bbbbbb;
}

.translation{
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.btn {
  width: 3rem;
}

.btn.active{
  background-color: #b3b4fd;
  color: #ffff;
}